/ConfigParser/src/ConfigParser/ConfigParser.java
/ConfigParser/ConfigParser.iml
/Encoder/
/Encoder/src/VelichkoA/EncoderGrammar.java
/Encoder/Encoder.iml
/.idea/
/configs/Mamaeva_ExecutorConfig_1.txt
/configs/Mamaeva_ExecutorConfig_2.txt
/configs/Mamaeva_ReaderConfig.txt
/configs/Mamaeva_WriterConfig.txt
/configs/Mamaeve_CodingTable.txt
/libs/
/out/production/
/src/
/Manager/src/VelichkoA/Manager.java
/Manager/src/VelichkoA/ManagerGrammar.java
/Manager/Manager.iml
/Reader/src/VelichkoA/Reader.java
/Reader/src/VelichkoA/ReaderGrammar.java
/Reader/Reader.iml
/Writer/src/VelichkoA/Writer.java
/Writer/src/VelichkoA/WriterGrammar.java
/Writer/Writer.iml
/logs/
/testFiles/
