/.idea/
/configs/Mamaeva_ExecutorConfig_1.txt
/configs/Mamaeva_ExecutorConfig_2.txt
/configs/Mamaeva_ReaderConfig.txt
/configs/Mamaeva_WriterConfig.txt
/configs/Mamaeve_CodingTable.txt
/libs/
/out/production/
/src/
/configs/Velichko_ManagerConfig_1.txt
